/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
    .two-column {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        left: -370%;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 992px) and (max-width: 1025px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        margin-left: -135%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        margin-left: -135%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-item {
        text-align: center;
    }
    .dropdown-item {
        text-align: left;
        margin-left: 0%;
    }
    .navbar-nav {
        position: relative;
        z-index: 1010;
        background: white;
    }
    .box {
        top: 6%;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .nav-item {
        text-align: center;
    }
    .input-group-field {
        width: 25px;
    }
    .adult {
        position: relative;
        margin-top: 20px;
    }
    .input-button {
        position: absolute;
        margin-top: -5px;
        right: 0;
    }
    .adult-p {
        position: absolute;
        margin-top: -10px;
        left: 0;
    }
    .adult-price {
        display: none;
    }
    .btn6 span {
        text-align: left;
        padding-right: 90px;
        margin-left: 10px;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .nav-item {
        text-align: center;
    }
    .dropdown-item {
        text-align: left;
        margin-left: 0%;
    }
    .navbar-nav {
        position: relative;
        z-index: 1010;
        background: white;
    }
    .input-group-field {
        width: 25px;
    }
    .adult {
        position: relative;
        margin-top: 20px;
    }
    .input-button {
        position: absolute;
        margin-top: -5px;
        right: 0;
    }
    .adult-p {
        position: absolute;
        margin-top: -10px;
        left: 0;
    }
    .adult-price {
        display: none;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .nav-item {
        text-align: center;
    }
    /* .two-column {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        text-align: center;
    } */
    .dropdown-item {
        text-align: left;
        margin-left: 0%;
    }
    .navbar-nav {
        position: relative;
        z-index: 1010;
        background: white;
    }
    .box {
        top: 15%;
    }
    .popular-tour .card {
        margin-left: 13%;
    }
    footer {
        text-align: center;
    }
    .adult {
        flex-direction: column;
    }
    .input-group-field {
        width: 25px;
    }
    .adult {
        position: relative;
        margin-top: 20px;
    }
    .input-button {
        position: absolute;
        margin-top: -5px;
        right: 0;
    }
    .adult-p {
        position: absolute;
        margin-top: -10px;
        left: 0;
    }
    .adult-price {
        display: none;
    }
    .single-main {
        flex-direction: column-reverse;
    }
    .package-options-inner button {
        margin-bottom: 10px;
    }
    .btn6 span {
        padding-right: 252px;
    }
    .btn6 {
        margin-bottom: 15px;
    }
    .invoice-inner .line {
        top: 60%;
    }
    .upper-menu {
        font-size: 12px;
    }
}